.container {
  padding-top: 1vw;
  display: flex;
  gap: 1vw;
  flex-wrap: wrap;
  height: 100%;
}

.spin {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
